html {
    font-size: 40px;
    width: 100%;
}

@media screen and (max-width: 640px) {
    html {
        font-size: 24px;
    }
}

@media screen and (max-width: 520px) {
    html {
        font-size: 22px;
    }
}

@media screen and (max-width: 3100px) {
    html {
        font-size: 18px;
    }
}

body {
    background: #f3f5f7;
}

/*.layout{*/
    /*overflow: hidden;*/
/*}*/

/*固定定位包裹层*/
.fixed-wrap{
    position: fixed;
    z-index: 100;
}
.fixed-wrap .wrap{
    width: 100%;
    min-width: 300px;
    max-width: 640px;
}

/*头部开始*/
.header {
    width: 100%;
    margin-bottom: -1px;
}
.header .header-wrap{
    min-width: 300px;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
}
.header .topBar .lqzx {
    top: 0;
    left: 50%;
    margin-left: -14px;
    line-height: 44px;
    font-size: 14px;
    width: 5em;
    height: 44px;
    position: absolute;
    text-align: center;
}

/*选择栏*/
.bar {
    position: relative;
    height:44px;
    background: #fff;
}
.bar-wrap{
    position: relative;
    min-width: 300px;
    max-width: 640px;
}
/*选择栏左*/
.bar_left {
    display: inline-block;
    width: 90%;
    height: 44px;
    background: #ffffff;
    line-height: 44px;
    text-align: center;
    /*margin-bottom: .32rem;*/
    overflow: hidden;
}

.bar_left ul {
    /*-webkit-transition : all .3s ease 0s;*/
    /*-moz-transition : all .3s ease 0s;*/
    /*-o-transition : all .3s ease 0s;*/
    /*transition : all .3s ease 0s;*/
    height: 100%;
}

.bar_left li {
    float: left;
    width: 6em;
    height: 100%;
}

.bar_left li span {
    display: inline-block;
    height: 100%;
    padding: 0 0.5em;
    border-bottom: 2px solid transparent;
}

.bar_left li span.active {
    color: #f23030;
    border-bottom-color: #f23030;
}

/*选择栏右*/
.bar_right {
    width: 10%;
    height: 44px;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
}

.bar_right em {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.bar_right em img {
    width: 9px;
    height: 5px;
    margin-top: 20px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/*全部类别布局*/
/*.outside-category-wrap{*/
    /*background: rgba(0,0,0,.6);*/
/*}*/
.all-category-wrap {
    overflow: hidden;
    display: none;
    /*margin:0 auto;*/
}

.all-category-wrap .all-category {
    background: #fff;
    /*-webkit-transform: translateY(-300px);*/
    /*-moz-transform: translateY(-300px);*/
    /*-ms-transform: translateY(-300px);*/
    /*-o-transform: translateY(-300px);*/
    /*transform: translateY(-300px);*/
}
/*.all-category-wrap .all-category.active{*/
    /*!*-webkit-transform: translateY(0px);*!*/
    /*!*-moz-transform: translateY(0px);*!*/
    /*!*-ms-transform: translateY(0px);*!*/
    /*!*-o-transform: translateY(0px);*!*/
    /*!*transform: translateY(0px);*!*/
/*}*/
.all-category-wrap .all-category.active{
    border-top: 1px solid #ececec;
}
.all-category ul {
    padding: 5px 0 20px;
}

.all-category li {
    float: left;
    width: 33.33%;
    margin-top: 20px;
}

.all-category li span {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    background: #f5f5f5;
    line-height: 30px;
    border: 1px solid transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.all-category li span.active {
    color: #f23030;
    border-color: #f23030;
}

.all-category li span.active i {
    display: inline-block;
    width: 9px;
    height: 7px;
    background: url("../img/yhq-category-selected.png") no-repeat;
    background-position: center;
    background-size: 9px 7px;
}

/*遮罩*/
.shade{
    min-width: 300px;
    max-width: 640px;
    position: fixed;
    background: rgba(0,0,0,.6);
    width:100%;
    z-index: 99;
}


/*优惠券部分*/
.yhq {
    width: 100%;

}

.yhq .contaier {
    width: 100%;
    /*overflow: auto;*/
}

.yhq .container ul {
    width: 100%;
    display: none;
}

.yhq .container ul.active {
    display: block;
}

.yhq .container li {
    width: 100%;
    height: 80px;
    margin-bottom: .32rem;
    background: #FFFFFF;
    position: relative;
}

.yhq .container .content_lf {
    width: 100%;
    height: 100%;
    padding: 0 15px;
}

.yhq .container .content_lf .content_img {
    width: 70px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin-right: 10px;
}

.yhq .container .content_lf img {
    width: 100%;
    height: 100%;
}

.yhq .container .content_lf .pro_content {
    margin-top: 6px;
    position: absolute;
    left: 90px;
    top: 5px;
}

.yhq .pro_content .pro_info {
    font-size: 13px;
    display: block;
    height: 24px;
    line-height: 14px;
    margin-bottom: 18px;
    overflow: hidden;
}

.yhq .pro_content .pro_price {

}

.yhq .pro_content .pro_price .big_price {
    color: #42b6ff;
    font-size: 20px;
    font-weight: 700;
}

.yhq .pro_content .pro_price .price_info {
    color: #43b6ff;
    font-size: 12px;
}

.yhq .content_rf {
    position: absolute;
    top: 0;
    right: 0;
    background: #42b6ff;
    width: 70px;
    height: 80px;
    border-left: 1.5px dashed #ffffff;
}

.yhq .content_rf .process_bar {
    padding-top: 20px;
    width: 50px;
    height: 10px;
    margin: 0 auto;
}

.yhq .content_rf .process_bar div {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #13a1fa;
}

.yhq .content_rf .process_bar span {
    display: block;
    border-radius: 5px;
    width: 66%;
    height: 10px;
    background: #ffffff;
}

.yhq .content_rf .buy_much {
    color: #FFFFFF;
    font-size: 12px;
    margin-top: 15px;
    text-align: center;
    height: 16px;
    line-height: 16px;
}

.yhq .content_rf .get_it {
    border-radius: 12px;
    width: 50px;
    height: 20px;
    background: #FFFFFF;
    font-size: 10px;
    line-height: 20px;
    border: 2px solid #13a1fa;
    margin: 0 auto;
    color: #43b6ff;
    text-align: center;
}

.yhq .content_rf .had {
    width: 70px;
    height: 44px;
    background: url('../img/gone.png') no-repeat center center;
    background-size: 60px 44px;
    margin-bottom: 10px;
}

.yhq .content_rf .use_it {
    display: block;
    border-radius: 12px;
    width: 50px;
    height: 20px;
    background: #ffec00;
    font-size: 10px;
    line-height: 20px;
    border: 2px solid #13a1fa;
    margin: 0 auto;
    color: #43b6ff;
    text-align: center;

}

.yhq .content_rf .content_rf_box1 {
    display: block;
}

.yhq .content_rf .content_rf_box2 {
    display: none;
}

/*半圆遮罩*/
.yhq li em {
    display: block;
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 6px;
    background: #f3f5f7;
}

.yhq .arch_top {
    top: -6px;
    right: 65px;
}

.yhq .arch_bottom {
    bottom: -6px;
    right: 65px;
}

