body{
    color: #333;
    font-weight: 200;
}

.page{
    width:100%;
}
.page .findPswPage{
    min-width: 300px;
    max-width: 750px;
    margin: 0 auto;
}

/*输入信息区*/
.page .findPswPage .import{
    width:100%;
    position: relative;
    margin-bottom: 50px;
}
.page .findPswPage .import div{
    margin-bottom: 15px;
}
.page .findPswPage .username{
    width: 100%;
    margin-top: 30px;
}
.page .findPswPage .import input{
    display: block;
    width:100%;
    height:43px;
    padding-left: 10px;
    border:1px solid #bbb;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.page .findPswPage .securityCode span{
    display: block;
    width:75px;
    height: 22px;
    position: absolute;
    bottom: 10px;
    right:1px;
    border-left: 1px solid #bbb;
    text-align: right;
}
.page .findPswPage .securityCode img{
    width:80%;
    height: 100%;
}


/*下一步*/
.page .nextBtn{
    display: block;
    /*height:45px;*/
    background: #eee;
    text-align: center;
    line-height: 45px;
    color: #848689;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.page .nextBtn.active{
    background: #f23030;
    color: #fff;
}