body{
    color: #333;
    font-weight: 200;
}

.page{
    width:100%;
}
.page .findPswPage{
    min-width: 300px;
    max-width: 750px;
    margin: 0 auto;
}

.page .findPswPage .please{
    color: #f23030;
    line-height: 30px;
    padding:20px 0;

}
.page .findPswPage .username_text{
    color: #000;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 10px;
}

/*输入信息区*/
.page .findPswPage .import{
    width:100%;
    position: relative;
    margin-bottom: 50px;
}
.page .import input{
    display: block;
    width:100%;
    height:43px;
    padding-left: 10px;
    border:1px solid #bbb;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.page .findPswPage .import div{
    margin-bottom: 15px;
}
.page .phoneNum{
    position: relative;
}
.page .findPswPage .import .phoneNum div   {
    margin-right: 150px;
}
.page .phoneNum .codeBtn{
    text-align: center;

    width: 130px;
    height: 43px;
    line-height: 43px;
    background: #fff;
    border: 1px solid #f23030;
    color: #f23030;
    position: absolute;
    top:0;
    right: 0;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.page .phoneNum .codeBtn.active{
    background: #fff;
    border-color: #f23030;
    color: #f23030;
}



/*下一步*/
.page .nextBtn{
    display: block;
    /*height:45px;*/
    background: #eee;
    text-align: center;
    line-height: 45px;
    color: #848689;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.page .nextBtn.active{
    background: #f23030;
    color: #fff;
}