/*媒体查询定义全局字体大小*/
@media screen and (min-width: 640px) {
    html {
        font-size: 18px;
    }
}
@media screen and (min-width: 440px) {
    html {
        font-size: 16px;
    }
}
@media screen and (min-width: 320px) {
    html {
        font-size: 14px;
    }
}
html {
    font-size: 14px;
}


.layout{
    background: #fff;
}
/*关注是商品or店铺选区*/

.attentionCategoy{
    font-size: 12px;
    width:100%;
}
.attentionCategoy li{
    width:50%;
    text-align: center;
    display: block;
    border-bottom: 0.5px solid #bbbbbb;
}
.attentionCategoy li:first-child{
    border-right: 0.5px solid #bbb;
}
.attentionCategoy .pro_attention{

}

.attentionCategoy .pro_text,
.attentionCategoy .shop_text{
    width:70%;
    height:40px;
    line-height: 40px;
    margin:0 auto;
}
.attentionCategoy .pro_text > span,
.attentionCategoy .shop_text > span{
    display: inline-block;
    height: 100%;
}
.attentionCategoy .active {
    border-bottom: 2px solid #f23030;
    color: #f23030;
}

/*具体关注商品*/
.attention_content{

}
.attention_content .attention_pro{

}
.attention_content li{
    position: relative;
    margin-bottom: 15px;
}
.attention_content .pro_img{
    display: block;
    width:115px;
    height:115px;
    position: absolute;
}
.attention_content .pro_img img{
    width:100%;
}
.attention_content .pro_info{
    margin-left: 120px;
    height:115px;
    border-bottom: 0.5px solid #e3e5e9;
}

.attention_content .pro_info .decription{
    -webkit-line-clamp:2;/*限制在一个块元素显示的文本的行数  兼容性不是很好*/
}
.attention_content .pro_info .price{
    margin-top: 5px;
    color: #f23030;
    font-size:12px;
}
.attention_content .pro_info .price span:first-child{
    font-weight: 700;
    font-size: 18px;
}
.attention_content .pro_bt{
    padding-top: 10px;
    width:100%;
    cursor: pointer;

    /*border:1px solid #686868 ;*/
}
.attention_content .pro_bt .pro_bt_lf{


}
.attention_content .pro_bt .pro_bt_lf span{
    border: 2px solid #e3e5e9;
    padding:3px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.attention_content .pro_bt .pro_bt_rf{
    position: absolute;
    right:10px;
    bottom:10px;
    width:25px;
    height: 25px;
    background: url("../img/shop_car.png") no-repeat;
    background-size: 25px 25px;
}


/*关注的店铺*/
.attention_content .attention_shop{
    display: none;
}
.attention_content .attention_shop li{
    position: relative;
    padding:0.8rem 0;
    border-bottom: 0.5px solid #e3e5e9;
}
.attention_content .attention_shop .shop_img{
    width:8rem;
    height: 3rem;
    position: absolute;
    top:0.8rem;
    left:0;
}
.attention_content .attention_shop .shop_img img{
    width:100%;
}
.attention_content .attention_shop .decription{
    position: relative;
}
.attention_content .attention_shop .decription span:first-child{
    font-size:1.2rem;
    text-align: left;
    font-weight: 400;
    margin-left: 9rem;
    line-height: 3rem;
    height:3rem;
    padding-left: 10px;
}
.attention_content .attention_shop .decription span:last-child{
    position: absolute;
    right: 10px;
    font-size: .9rem;
    color: #e3e5e9;
    line-height: 3rem;
    height:3rem;
}


/*添加至购物车提醒*/
.shopcar_hint{
    width: 150px;
    height: 100px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    font-size: 12px;
    font-weight: 200;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    text-align: center;
    line-height: 100px;
    /*这个只能实现垂直居中 且兼容性不好*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translateY(-50%);*/
    /*transform: translateX(-50%)*/
    /*这个能够实现水平垂直居中，但父元素需要知道是定高，能兼容到IE8+*/
    margin:auto;
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    display: none;
}