body{
    color: #333;
    font-weight: 200;
}

.page{
    width:100%;
}
.page .registerPage{
    min-width: 300px;
    max-width: 750px;
    margin: 0 auto;
}

/*输入信息区*/
.page .registerPage .import{
    width:100%;
    position: relative;
    margin-bottom: 50px;
}
.page .registerPage .import div{
    margin-bottom: 15px;
}
.page .registerPage .securityCode{
    width: 100%;
    margin-top: 30px;
}
.page .registerPage .import input{
    display: block;
    width:100%;
    height:43px;
    padding-left: 10px;
    border:1px solid #bbb;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.page .registerPage .securityCode span{
    display: block;
    width:75px;
    height: 22px;
    position: absolute;
    top: 10px;
    right:1px;
    border-left: 1px solid #bbb;
    text-align: right;
}
.page .registerPage .securityCode img{
    width:80%;
    height: 100%;
}

.page .phoneNum{
    position: relative;
}
.page .registerPage .import .phoneNum div   {
    margin-right: 150px;
}
.page .phoneNum .codeBtn{
    text-align: center;
    border: 1px solid transparent;
    width: 130px;
    height: 43px;
    line-height: 43px;
    background: #eee;
    position: absolute;
    top:0;
    right: 0;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.page .phoneNum .codeBtn.active{
    background: #fff;
    border-color: #f23030;
    color: #f23030;
}
.page .registerPage .import .phoneNum p{
    color: #f23030;
    font-size: 12px;
}

/*设置密码*/
.page .registerPage .import .password p{
    color: #f23030;
    font-size: 12px;
}

/*注册按钮*/
.page .registerBtn{
    display: block;
    /*height:45px;*/
    background: #eee;
    text-align: center;
    line-height: 45px;
    color: #848689;
    margin-bottom: 20px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.page .registerBtn.active{
    background: #f23030;
    color: #fff;
}